nav {
  background-color: #0f1b07;
  height: 80px;
  z-index: 1;

  .navbar__contenedor {
    max-width: 1380px;

    li {
      text-align: center;
    }

    button {
      color: white;
    }

    a > img:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }

    li a:not(.navbar-brand) {
      color: white;
      font-size: 1.09rem;
      font-weight: bold;
      padding: 7px 13px;
      border-radius: 4px;
      margin-right: 5px;
    }
    a:not(.navbar-brand):hover {
      background-color: #2b4d14;
      transition-duration: 0.3s;
    }

    a:hover {
      cursor: pointer;
    }

    /*-------- COLOR TOGGLER ICON ----------*/
    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0);
    }

    .navbar-toggler:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar__colapsado {
      background-color: #0f1b07;
    }
  }
}
