<main class="container-fluid p-0">
  <!--------------- PRIMERA SECCIÓN ---------------------->

  <div
    id="index__main__div1"
    class="container-fluid d-flex justify-content-center align-items-center flex-column text-center"
  >
    <h1 class="animate__animated animate__fadeInLeft">
      EL CALENTAMIENTO GLOBAL ES UNA REALIDAD
    </h1>
    <p class="animate__animated animate__fadeInRight">
      El término propuesto por la comunidad científica para que el cambio
      climático sea irreversible es 2030. Es momento de actuar.
    </p>
    <a class="animate__animated animate__fadeInUp" href="contacto.html"
      >Quiero actuar</a
    >
  </div>

  <!--------------- SEGUNDA SECCIÓN ---------------------->
  <div
    class="container-fluid d-flex align-items-center justify-content-center w-100 p-0"
    id="index__main__div2"
  >
    <div
      class="row d-flex justify-content-evenly align-items-center w-100 p-0 mt-5"
    >
      <div
        class="col index-div2-tarjetas d-flex flex-column align-items-center justify-content-center"
        data-aos="fade-down"
      >
        <div class="index-div2-img">
          <img
            src="assets/logos/tree.png"
            alt="logo walden"
            height="205px"
            width="205px"
          />
        </div>
        <div class="index-div2-texto text-center mt-3">
          <h2>Quiénes somos</h2>
          <p>
            Walden es una organización sin fines de lucro que tiene como fin
            llevar a cabo acciones concretas que combatan el calentamiento
            global
          </p>
          <a href="nosotros.html">Leer más</a>
        </div>
      </div>

      <div
        class="col index-div2-tarjetas"
        data-aos="fade-down"
        data-aos-delay="200"
      >
        <div class="index-div2-img">
          <img
            src="assets/logos/ecology.png"
            alt="logo ayudar"
            height="205px"
            width="205px"
          />
        </div>
        <div class="index-div2-texto text-center mt-3">
          <h2>Cómo ayudar</h2>
          <p>
            ¿Te preocupa el rumbo que estan tomando las cosas? No te quedes
            sentado, vos también podés ser parte de la solución
          </p>
          <a href="involucrate.html">Aprendé más</a>
        </div>
      </div>

      <div
        class="col index-div2-tarjetas"
        data-aos="fade-down"
        data-aos-delay="400"
      >
        <div class="index-div2-img">
          <img
            src="assets/logos/handshake.png"
            alt="logo contacto"
            height="205px"
            width="205px"
          />
        </div>
        <div class="index-div2-texto text-center mt-3">
          <h2>Contacto</h2>
          <p>
            ¿Querés conocer gente afín, preocupada por las mismas cosas que vos?
            No dudes en contactarnos, vos también podés ser parte de Walden
          </p>
          <a href="contacto.html">Contactate</a>
        </div>
      </div>
    </div>
  </div>

  <!-------------------- TERCERA SECCIÓN ------------------------->

  <div id="index__main__div3" class="container-fluid m-0">
    <h2 data-aos="fade" data-aos-duration="400">Nuestras campañas</h2>

    <div class="pb-3" id="index__main__div3__tarjetas">
      <div class="row d-flex align-items-center justify-content-evenly p-0">
        <div
          class="main-div3-tarjetas col"
          data-aos="fade"
          data-aos-delay="400"
        >
          <div class="main__div3__imagenes">
            <img
              src="assets/div3-concientizacion.jpg"
              alt="protesta ambiental"
              height="100%"
              width="100%"
            />
          </div>

          <div class="main__div3__texto">
            <p class="fecha">11 DE ABRIL, 2020</p>
            <h3>Concientización</h3>
            <p>
              Nos reunimos periódicamente en algún punto geográfico para
              visibilizar la problemática ambiental
            </p>
            <a href="proyectos.html#concientizacion">Leer más</a>
          </div>
        </div>

        <div
          class="main-div3-tarjetas col"
          data-aos="fade"
          data-aos-delay="200"
        >
          <div class="main__div3__imagenes">
            <img
              src="https://img.fotocommunity.com/reserva-ecologica-costanera-sur-de-buenos-aires-34ed05c1-df46-43c3-9b23-e3b99bc642e0.jpg?width=1000"
              alt="costanera sur de buenos aires"
              height="100%"
              width="100%"
            />
          </div>

          <div class="main__div3__texto">
            <p class="fecha">30 DE OCTUBRE, 2020</p>
            <h3>Espacios verdes</h3>
            <p>
              Luchamos para que las ciudades y sus alrededores en vez de
              achicar, agranden las áreas de espacios verdes
            </p>
            <a href="proyectos.html#espaciosVerdes">Leer más</a>
          </div>
        </div>

        <div class="main-div3-tarjetas col" data-aos="fade">
          <div class="main__div3__imagenes">
            <img
              src="http://3.bp.blogspot.com/-aZy5nlRKuI4/VAn5IEv7YBI/AAAAAAAAlaI/oAUubfKTKEo/s1600/Ampuero%2B2013-743335.jpg"
              alt="personas limpiando río"
              height="100%"
              width="100%"
            />
          </div>
          <div class="main__div3__texto">
            <p class="fecha">15 DE AGOSTO, 2020</p>
            <h3>Limpieza</h3>
            <p>Organizamos limpiezas de riberas y descampados</p>
            <a href="proyectos.html#limpieza">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
